<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>325301236787-3pbo902v0fq6sk87nm5jpn6c1svh4q1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325301236787-3pbo902v0fq6sk87nm5jpn6c1svh4q1t</string>
	<key>API_KEY</key>
	<string>AIzaSyC9YPGpacihT2Lqv3czS-TSOYqrLgDh5Hk</string>
	<key>GCM_SENDER_ID</key>
	<string>325301236787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trystonxhoyes.org.sign-in</string>
	<key>PROJECT_ID</key>
	<string>sign-up-7a7e3</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-up-7a7e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:325301236787:ios:e1848b887e901b7a</string>
	<key>DATABASE_URL</key>
	<string>https://sign-up-7a7e3.firebaseio.com/</string>
</dict>
</plist>
